#form {
    margin: 2%;
    background: #635a5a63;
    width: 100%;
    padding: 1%;
    text-align: center;
    line-height: 1.5em;
}

#addFav {
    width: 60px;
    height: 30px;
}

#insLink {
    width: 400px;
    margin-right: 10px;
    
    
}

#catLink {
    margin-right: 10px;
}
